* {
  margin: 0;
  padding: 0;
}
body {
  margin: 0 auto;
  font-family: "Epilogue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  max-width: 1440px;
}
a {
  text-decoration: none;
}
code {
  font-family: "Epilogue", sans-serif;
}
